<!DOCTYPE html>
{%  extends 'base.html' %}

{%  block hello_block %}
<div class="jumbotron">
    <h1> Please login</h1>
    <form method="post" action="{% url 'app1:user_ login' %}">
        {% csrf_token %}
        <label for="username"> Username: </label>
        <input type="text" name="username" placeholder="Enter username">
        <label for="password"> Password: </label>
        <input type="password" name="password">
        <input type="submit" name="" value="Login">
    </form>
</div>
{% endblock %}